.progression {
  margin-left: 20px;
  margin-top: 20px;
  display: inline;
  color: #577d0d;
}

.container-prev {
  display: flex;
  justify-content: center;
}

.button-prev {
  padding: 10px;
  border: none;
  background-color: #577d0d;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}